/**
* Restrict images to width of container
* with height adjusting to maintain aspect ratio
*/
img {
  max-width: 100% !important;
  height: auto !important;
}
.entry-content {
  clear: both !important;
}