/**
* Force sub-menu links to line up vertically
*/
.c-nav-primary__sub .c-nav-primary__item {
  display: inline;
  margin-left: 0;
}

/**
* Hide pagination title
*/
h2.screen-reader-text {
    display: none;
}