/**
* WordPress generated classes
* as defined at https://codex.wordpress.org/CSS
*/
.alignnone {
    margin: $global-border-light $global-border-heavy $global-border-heavy 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: $global-border-light auto $global-border-light auto;
}

.alignright {
    float:right;
    margin: $global-border-light 0 $global-border-heavy $global-border-heavy;
}

.alignleft {
    float: left;
    margin: $global-border-light $global-border-heavy $global-border-heavy 0;
}

a img.alignright {
    float: right;
    margin: $global-border-light 0 $global-border-heavy $global-border-heavy;
}

a img.alignnone {
    margin: $global-border-light $global-border-heavy $global-border-heavy 0;
}

a img.alignleft {
    float: left;
    margin: $global-border-light $global-border-heavy $global-border-heavy 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: $color-text-bg;
    border: 1px solid $color-details-border;
    max-width: 96%; /* Image does not overflow the content area */
    padding: $global-border-light $global-border-light $global-border-mid;
    text-align: center;
}

.wp-caption.alignnone {
    margin: $global-border-light $global-border-heavy $global-border-heavy 0;
}

.wp-caption.alignleft {
    margin: $global-border-light $global-border-heavy $global-border-heavy 0;
}

.wp-caption.alignright {
    margin: $global-border-light 0 $global-border-heavy $global-border-heavy;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    margin: 0;
    padding: 0 $global-border-light $global-border-light;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	clip: auto !important;
	clip-path: none;
	display: block;
	font-size: 1em;
	height: auto;
	left: $global-border-light;
	line-height: normal;
	padding: $global-border-heavy $global-spacing-unit $global-border-heavy;
	text-decoration: none;
	top: $global-border-light;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
